:root {
    --bg-1: hsl(0, 100%, 67%);
    --bg-2: hsl(39, 100%, 56%);
    --bg-3: hsl(166, 100%, 37%);
    --bg-4: hsl(234, 85%, 45%);
    --bg-5: hsl(252, 100%, 67%);
    --bg-6: hsl(241, 81%, 54%);

    --bg-7: hsla(256, 72%, 46%, 1);
    --bg-8: hsla(241, 72%, 46%, 0);
  }
  
  /* RESET */
  
  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  main {
    display: flex;
    align-items: center;
    width: 760px;
  }
  .result {
    width: 50%;
    color :white;
    background-color: var(--bg-4);
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }

  .result_dato {
    background-color: var(--bg-6);
    border-radius: 20rem;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem;

  }
  .result_dato h2 {
    font-size: 4rem;
  }
  .result_dato h4 {
    font-size: 1rem;
    opacity: 0.2;

  }

  .summary {

    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin: 2rem;
    padding: 1rem;
 


  }

  .summary__rea {
    margin: 1rem 0 0 0;
    padding: 1rem;
    background-color: var(--bg-1);
    border-radius: 1rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
   


  }

  .summary__mem {
    margin: 1rem 0 0 0;
    padding: 1rem;
    background-color: var(--bg-2);
    border-radius: 1rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;


  }

  
  .summary__ver {
    margin: 1rem 0 0 0;
    padding: 1rem;
    background-color: var(--bg-3);
    border-radius: 1rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;


  }

  
  .summary__vis {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    background-color: var(--bg-4);
    border-radius: 1rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;


  }
  .summary button{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--bg-4);
    display: flex;
    justify-content: center;
    align-items: center;
  }